
/* Header styles */

body {
    background-image: url("images/about-me-bg.png");
    background-size: cover;
}

header {
    background-color: lightblue;
    /* background-color: #b2c1db; */
}

.home-icon-bar .home {
    font-family: Montserrat;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 10px;
}

.home img {
    width: 65px;
    height: 65px;
    border-radius: 25px;
    margin: 5px;
    text-decoration: none;
}


.grid-container div {
    display: flex;
}

.grid-container p {
    padding: 20px;
}

.container {
    padding-top: 30px;
}

.container h1 {
    padding-right: 50px;
    font-weight: 750;
}

.home-bar {
    justify-content: center;
}

/* .home-bar a { 
    width: 8em;
} */

.icon-bar {
    margin-bottom: 10px;
}

.icon-bar svg {
    color: #355ee6;
    /* color: #a0a5b0; */
    margin-left: 20px;
}

.icon-bar svg:hover {
    border-radius: 50%;
    color: #a0a5b0; 
    /* color: #355ee6; */
}

form div {
    padding-bottom: 20px;
}






/* Media screen sizes */

/* Desktop screens */

/* Tablet screens */

/* Mobile screens */
@media only screen and (max-width: 390px) {
    header {
        background-color: lightblue;
    }

    .home-icon-bar ul li {
        display: block;
    }

    .home-bar .nav {
        flex-direction: column; 
        text-align: center;
        margin-bottom: 5px;
    }

    .home-bar a { 
        width: 8em;
    }

    .icon-bar {
        margin-bottom: 10px;
    }

    /* .home-bar .nav .nav-item .active{
        background-color: #bbbec4;
    } */
}